@using LaboruTKM.Web.Common

@model LaboruTKM.Common.CompanyDTO

<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Laboru Tech - Portal Empresarial</title>

    <!-- Bootstrap Core CSS -->
    <link href="@Url.Content("~/Static/vendor/bootstrap/css/bootstrap.min.css")" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="@Url.Content("~/Static/vendor/metisMenu/metisMenu.min.css")" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="@Url.Content("~/Static/dist/css/sb-admin-2.css")" rel="stylesheet">

    <!-- Laboru CSS -->
    <link href="@Url.Content("~/Static/dist/css/laboru-tkm.css")" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="@Url.Content("~/Static/vendor/morrisjs/morris.css")" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="@Url.Content("~/Static/vendor/font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css">

    @RenderSection("css", false)

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    @if (!String.IsNullOrEmpty(Model.Logo))
                    {
                        <table>
                            <tr>
                                <td>
                                    <img src="@Url.Content("~/Static/dist/images/" + @Model.Logo)" style="height:30px;width:100px;" />
                                </td>
                                <td style="padding-left: 10px;">@UIHelpers.GetGlobalizedText("title")
                                </td>
                            </tr>
                        </table>
                    }
                    else
                    {
                        <span>@Model.Name - @UIHelpers.GetGlobalizedText("title")</span>
                    }
                </a>
            </div>
            <!-- /.navbar-header -->

            @Html.Partial("_AdminTopMenu")
            <!-- /.navbar-top-links -->

            @Html.Partial("_CompanyLeftMenu")
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">

            <div id="waiting" class="text-center" style="display: none">
                <img src="@Url.Content("~/Static/dist/images/ellipsis.gif")" >
            </div>

            @RenderBody()

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="@Url.Content("~/Static/vendor/jquery/jquery.min.js")"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="@Url.Content("~/Static/vendor/bootstrap/js/bootstrap.min.js")" ></script>


    <!-- Metis Menu Plugin JavaScript -->
    <script src="@Url.Content("~/Static/vendor/metisMenu/metisMenu.min.js")" ></script>

    @*
    <!-- Morris Charts JavaScript -->
    <script src="@Url.Content("~/Static/vendor/raphael/raphael.min.js")" ></script>
    <script src="@Url.Content("~/Static/vendor/morrisjs/morris.min.js")" ></script>
    <script src="@Url.Content("~/Static/data/morris-data.js")"> </script> *@

    <!-- Custom Theme JavaScript -->
    <script src="@Url.Content("~/Static/dist/js/sb-admin-2.js")" ></script>

    <script>

        var siteUrlPrefix = '@Url.Content("~/")';
        siteUrlPrefix = siteUrlPrefix.substring(1, siteUrlPrefix.length);

        function getLanguage() {
            var language = '@UIHelpers.GetBrowserUICulture()';
            return language;
        }

        function getGlobalizedText(name) {
            var language = '@UIHelpers.GetBrowserUICulture()';
            return lang[language][name];
        }

    </script>

    <!-- Common JavaScript -->
    <script src="@Url.Content("~/Static/js/common.js")" ></script>

    <script>

        var uiControllerName = "CompanyUI";
        var loginUrl = "@Url.Content("~/CompanyUI/Login")";

        function processLogout() {

            console.log("logging out");

            showLoading();
            ajaxGet(uiControllerName, "Logout", {}, function (success, data) {

                hideLoading();
                if (success) {

                    if (data) {
                        console.log(loginUrl);
                        location.href = loginUrl;
                    } else {
                        console.log("not found");
                    }

                } else {
                    if (data.status == 404) {
                        console.log("not found");
                    } else {
                        if (data.status == 200) {
                            console.log("not found");
                        } else {
                            console.log(data);
                        }

                    }
                }
            });
        }

        $(document).ready(function () {
            $("#btnlogout").on("click", function () {
                processLogout();
            });
        });
    </script>

    @RenderSection("scripts", false)

</body>

</html>

