@using LaboruTKM.Web.Common

@{
    Layout = "~/Views/Shared/_CompanyLayout.cshtml";
}

@section css{

    <!-- DataTables CSS -->
    <link href="@Url.Content("~/Static/vendor/datatables-plugins/dataTables.bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Static/vendor/datatables-responsive/dataTables.responsive.css")" rel="stylesheet">
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">@UIHelpers.GetCompanyGlobalizedText("myEmployees")</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">

        <div class="panel panel-default">

            <div class="panel-heading knowledge-management">

                <div class="row">
                    <div class="col-md-6">
                        
                    </div>
                    <div class="col-md-6 text-right">
                        <a class="btn btn-primary" href="@Url.Content("~/CompanyUI/AddApplicant")">Adicionar empleado</a>
                    </div>
                </div>

            </div>
           
            <div class="panel-body">
                <table class="table table-hover" id="employees-table">
                    <thead>
                        <tr>
                            <th>@UIHelpers.GetGlobalizedText("name")</th>
                            <th>Rol</th>
                            <th>Evaluación Laboru</th>
                            <th>Fecha Evaluación</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="@Url.Content("~/CompanyUI/Candidate")">Catalina Muñoz</a></td>
                            <td>Gerente general</td>
                            <td>Gerente Medio</td>
                            <td>Abril 30 2017</td>
                        </tr>
                        <tr>
                            <td><a href="#">Felipe Andrés Rios</a></td>
                            <td>Desarrollador de Software</td>
                            <td>N/D</td>
                            <td>N/D</td>
                        </tr>
                        <tr>
                            <td><a href="@Url.Content("~/CompanyUI/Candidate")">Camila Rivera</a></td>
                            <td>Analista Desarrollador QA</td>
                            <td>N/D</td>
                            <td>N/D</td>
                        </tr>
                    </tbody>
                </table>
                <!-- /.table-responsive -->
            </div>
        </div>

    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

@section scripts{

    <!-- Lang -->
    <script src="@Url.Content("~/Static/js/lang.js")"></script>

    <!-- Moments -->
    <script src="@Url.Content("~/Static/js/moment-locales.min.js")"></script>

    <!-- jQuery DataTables -->
    <script src="@Url.Content("~/Static/vendor/datatables/js/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/Static/vendor/datatables-plugins/dataTables.bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Static/vendor/datatables-responsive/dataTables.responsive.js")"></script>

    <script>

        function init() {

            $("#employees-table").DataTable({
                "language": lang[getLanguage()].datatables
            });
        }

        $(document).ready(function () {

            init();

        });

    </script>

}