@using LaboruTKM.Web.Common

@model LaboruTKM.Common.CompanyDTO

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CompanyLayout.cshtml";
}

@section css{

}

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Contratación</h3>
    </div>
    <!-- /.col-lg-12 -->
</div>

<!-- /.row -->
<div class="row">

    <div class="col-lg-12">

        <div class="panel">

            <div class="panel-body engagement">

                <div class="row">
                    <div class="col-lg-12">
                        <h4>Estadísticas
                        </h4>

                    </div>
                </div>

                <div class="row">

                    <div class="col-lg-3 col-md-6">

                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-user-plus fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">@Model.RecruitmentStats.JopOpenings</div>
                                        <div>@UIHelpers.GetCompanyGlobalizedText("jobOpenings")</div>
                                    </div>
                                </div>
                            </div>
                            <a href="@Url.Content("~/CompanyUI/JobOpenings")">
                                <div class="panel-footer">
                                    <span class="pull-left">@UIHelpers.GetGlobalizedText("viewDetails")</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-users fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">@Model.RecruitmentStats.ActiveProcesses</div>
                                        <div>@UIHelpers.GetCompanyGlobalizedText("activeApplicants")</div>
                                    </div>
                                </div>
                            </div>
                            <a href="@Url.Content("~/CompanyUI/Recruitment")">
                                <div class="panel-footer">
                                    <span class="pull-left">@UIHelpers.GetGlobalizedText("viewDetails")</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-yellow">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-pause fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">@Model.RecruitmentStats.PausedProcesses</div>
                                        <div>@UIHelpers.GetCompanyGlobalizedText("pausedApplicants")</div>
                                    </div>
                                </div>
                            </div>
                            <a href="@Url.Content("~/CompanyUI/Recruitment/?paused")">
                                <div class="panel-footer">
                                    <span class="pull-left">@UIHelpers.GetGlobalizedText("viewDetails")</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-red">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-exclamation fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">@Model.RecruitmentStats.AlertProcesses</div>
                                        <div>@UIHelpers.GetCompanyGlobalizedText("alertApplicants")</div>
                                    </div>
                                </div>
                            </div>
                            <a href="@Url.Content("~/CompanyUI/Recruitment/?alert")">
                                <div class="panel-footer">
                                    <span class="pull-left">@UIHelpers.GetGlobalizedText("viewDetails")</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>

                @*

                <div class="row">
                    <div class="col-lg-12">
                        <h4>Pipeline de mi proceso de selección
                        </h4>

                    </div>
                </div>

                <div class="row">

                    <div class="col-lg-2 col-md-6">

                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-envelope fa-4x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">5</div>
                                        <div></div>
                                    </div>
                                </div>
                            </div>
                            <a href="@Url.Content("~/CompanyUI/Recruitment")">
                                <div class="panel-footer">
                                    <span class="pull-left">Invitados a proceso</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <!-- 

                    <div class="col-lg-1 col-md-1">

                        <div class="panel engagement engagement-border">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-arrow-right fa-2x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge"></div>
                                        <div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                        -->

                    <div class="col-lg-2 col-md-6">

                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-check fa-4x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">1</div>
                                        <div></div>
                                    </div>
                                </div>
                            </div>
                            <a href="@Url.Content("~/CompanyUI/Recruitment")">
                                <div class="panel-footer">
                                    <span class="pull-left">Invitación aceptada</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6">

                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-check fa-4x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">6</div>
                                        <div></div>
                                    </div>
                                </div>
                            </div>
                            <a href="@Url.Content("~/CompanyUI/Recruitment")">
                                <div class="panel-footer">
                                    <span class="pull-left">Evaluación finalizada</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6">

                        <div class="panel panel-red">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-times-circle fa-4x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">15</div>
                                        <div></div>
                                    </div>
                                </div>
                            </div>
                            <a href="@Url.Content("~/CompanyUI/Recruitment")">
                                <div class="panel-footer">
                                    <span class="pull-left">Descalificados</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6">

                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-envelope fa-4x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">3</div>
                                        <div></div>
                                    </div>
                                </div>
                            </div>
                            <a href="@Url.Content("~/CompanyUI/Recruitment")">
                                <div class="panel-footer">
                                    <span class="pull-left">Citados entrevista</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6">

                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-users fa-4x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">3</div>
                                        <div></div>
                                    </div>
                                </div>
                            </div>
                            <a href="@Url.Content("~/CompanyUI/Recruitment")">
                                <div class="panel-footer">
                                    <span class="pull-left">Entrevistados</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6">

                        <div class="panel panel-red">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-times-circle fa-4x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">15</div>
                                        <div></div>
                                    </div>
                                </div>
                            </div>
                            <a href="@Url.Content("~/CompanyUI/Recruitment")">
                                <div class="panel-footer">
                                    <span class="pull-left">Descalificados</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>


                    <div class="col-lg-2 col-md-6">

                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-usd fa-4x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">5</div>
                                        <div></div>
                                    </div>
                                </div>
                            </div>
                            <a href="@Url.Content("~/CompanyUI/Recruitment")">
                                <div class="panel-footer">
                                    <span class="pull-left">Propuesta enviada</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6">

                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-check fa-4x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">5</div>
                                        <div></div>
                                    </div>
                                </div>
                            </div>
                            <a href="@Url.Content("~/CompanyUI/Recruitment")">
                                <div class="panel-footer">
                                    <span class="pull-left">Contratados</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>

                *@

            </div>

        </div>

    </div>




</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Gestión del conocimiento</h3>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">

    <div class="col-lg-12">

        <div class="panel">

            <div class="panel-body knowledge-management">

                <div class="row">

                    <div class="col-lg-4">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-area-chart fa-fw"></i>Brechas en QA
                       
                            </div>
                            <div class="panel-body">
                                <div id="qa-net-chart"></div>
                                <a href="#" class="btn btn-default btn-block">@UIHelpers.GetGlobalizedText("viewDetails")</a>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->

                    </div>
                    <!-- /.col-lg-4 -->

                    <div class="col-lg-4">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-area-chart fa-fw"></i>Brechas en .Net
                       
                            </div>
                            <div class="panel-body">
                                <div id="morris-net-chart"></div>
                                <a href="#" class="btn btn-default btn-block">@UIHelpers.GetGlobalizedText("viewDetails")</a>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->

                    </div>

                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-area-chart fa-fw"></i>Brechas en Inglés
                       
                            </div>
                            <div class="panel-body">
                                <div id="morris-english-chart"></div>
                                <a href="#" class="btn btn-default btn-block">@UIHelpers.GetGlobalizedText("viewDetails")</a>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                    <!-- /.col-lg-4 -->


                </div>

            </div>
        </div>

    </div>

</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Análisis</h3>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">

    <div class="col-lg-12">

        <div class="panel">
            <div class="panel-body analysis">

                <div class="row">

                    <div class="col-lg-4">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-area-chart fa-fw"></i>Promedio de días de contratación
                       
                            </div>
                            <div class="panel-body">
                                <div id="morris-average-chart"></div>
                                <a href="#" class="btn btn-default btn-block">@UIHelpers.GetGlobalizedText("viewDetails")</a>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->

                    </div>
                    <!-- /.col-lg-4 -->

                    <div class="col-lg-4">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-area-chart fa-fw"></i>vs mi industria (Nivel Desarrolladores)
                       
                            </div>
                            <div class="panel-body">
                                <div id="morris-industry-chart"></div>
                                <a href="#" class="btn btn-default btn-block">@UIHelpers.GetGlobalizedText("viewDetails")</a>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->

                    </div>

                    <div class="col-lg-4">
                    </div>
                    <!-- /.col-lg-4 -->

                </div>

            </div>

        </div>

    </div>



</div>
<!-- /.row -->

@section scripts{

    <!-- Morris Charts JavaScript -->
    <script src="@Url.Content("~/Static/vendor/raphael/raphael.min.js")" ></script>
    <script src="@Url.Content("~/Static/vendor/morrisjs/morris.min.js")" ></script>
    <script src="@Url.Content("~/Static/data/morris-data.js")"> </script>

    <script>

        function loadAverage() {

            Morris.Bar({
                element: 'morris-average-chart',
                data: [
                    { y: '2016', a: 70, b: 30, c: 20 },
                  { y: '2017', a: 65, b: 40, c: 30 }
                ],
                xkey: 'y',
                ykeys: ['a', 'b', 'c'],
                labels: ['Desarrollador', 'Analista', 'Gerente'],
                hideHover: 'auto',
                resize: true
            });

            Morris.Line({
                element: 'morris-industry-chart',
                data: [
                    { y: '2015', a: 50, b: 30, },
                    { y: '2016', a: 70, b: 30, },
                  { y: '2017', a: 65, b: 40 }
                ],
                xkey: 'y',
                ykeys: ['a', 'b'],
                labels: ['Mi Empresa', 'Industria (Software)'],
                hideHover: 'auto',
                resize: true
            });

        }


        function loadGaps() {

            new Morris.Area({
                // ID of the element in which to draw the chart.
                element: 'morris-english-chart',
                data: [{
                    period: '2011',
                    esperado: 20,
                    real: 12
                }, {
                    period: '2012',
                    esperado: 30,
                    real: 25
                }, {
                    period: '2012',
                    esperado: 30,
                    real: 25
                }, {
                    period: '2013',
                    esperado: 50,
                    real: 30
                }, {
                    period: '2014',
                    esperado: 70,
                    real: 60
                }, {
                    period: '2015',
                    esperado: 80,
                    real: 90
                }],
                xkey: 'period',
                ykeys: ['esperado', 'real'],
                labels: ['esperado', 'real'],
                pointSize: 1,
                hideHover: 'auto',
                resize: true
            });

            new Morris.Area({
                // ID of the element in which to draw the chart.
                element: 'qa-net-chart',
                data: [{
                    period: '2012',
                    esperado: 30,
                    real: 20
                }, {
                    period: '2014',
                    esperado: 50,
                    real: 25
                }, {
                    period: '2014',
                    esperado: 50,
                    real: 25
                }, {
                    period: '2015',
                    esperado: 50,
                    real: 30
                }, {
                    period: '2016',
                    esperado: 70,
                    real: 60
                }, {
                    period: '2017',
                    esperado: 10,
                    real: 100
                }],
                xkey: 'period',
                ykeys: ['esperado', 'real'],
                labels: ['esperado', 'real'],
                pointSize: 1,
                hideHover: 'auto',
                resize: true
            });

            new Morris.Area({
                // ID of the element in which to draw the chart.
                element: 'morris-net-chart',
                data: [{
                    period: '2012',
                    esperado: 40,
                    real: 20
                }, {
                    period: '2014',
                    esperado: 45,
                    real: 25
                }, {
                    period: '2014',
                    esperado: 50,
                    real: 25
                }, {
                    period: '2015',
                    esperado: 50,
                    real: 30
                }, {
                    period: '2016',
                    esperado: 70,
                    real: 60
                }, {
                    period: '2017',
                    esperado: 30,
                    real: 100
                }],
                xkey: 'period',
                ykeys: ['esperado', 'real'],
                labels: ['esperado', 'real'],
                pointSize: 1,
                hideHover: 'auto',
                resize: true
            });
        }

        $(document).ready(function () {

            loadGaps();
            loadAverage();

        });
    </script>
}
