@using LaboruTKM.Web.Common

@model LaboruTKM.Common.CompanyDTO

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CompanyLayout.cshtml";
}

@section css{

}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">@UIHelpers.GetGlobalizedText("dashboard")</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-check fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">5</div>
                        <div>Procesos terminados</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">@UIHelpers.GetGlobalizedText("viewDetails")</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-users fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">50</div>
                        <div>Candidatos en Proceso</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">@UIHelpers.GetGlobalizedText("viewDetails")</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-pause fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">12</div>
                        <div>Procesos pausados</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">@UIHelpers.GetGlobalizedText("viewDetails")</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-exclamation fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">6</div>
                        <div>Procesos con alerta</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">@UIHelpers.GetGlobalizedText("viewDetails")</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-8">
        
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-clock-o fa-fw"></i> Estado de los procesos de selección
                       
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <ul class="timeline">
                    <li>
                        <div class="timeline-badge warning">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Invitados a iniciar proceso</h4>
                                <p>
                                    <small class="text-muted"><i class="fa fa-check"></i> 16 en Total</small>
                                </p>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    5 Desarrolladores <br />
                                    10 Analistas <br />
                                    1 Gerente <br />
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge success">
                            <i class="fa fa-check"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Invitación aceptada</h4>
                                <p>
                                    <small class="text-muted"><i class="fa fa-check"></i> 5 en Total</small>
                                </p>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    4 Desarrolladores <br />
                                    1 Analistas <br />
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge info">
                            <i class="fa fa-pencil"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Evaluación finalizada</h4>
                                <p>
                                    <small class="text-muted"><i class="fa fa-check"></i> 1 en Total</small>
                                </p>
                            </div>
                            <div class="timeline-body">
                                <p>1 Sicóloga</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Evaluación no superada</h4>
                                <p>
                                    <small class="text-muted"><i class="fa fa-check"></i> 2 en Total</small>
                                </p>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    2 Desarrolladores
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge warning">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Citados a entrevista</h4>
                                <p>
                                    <small class="text-muted"><i class="fa fa-check"></i> No hay citaciones</small>
                                </p>
                            </div>
                            <div class="timeline-body">
                                <p>

                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge info">
                            <i class="fa fa-comments"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Entrevistados</h4>
                                <p>
                                    <small class="text-muted"><i class="fa fa-check"></i> 3 en Total</small>
                                </p>                                
                            </div>
                            <div class="timeline-body">
                                <p>
                                    2 Gerentes <br />
                                    1 Analista
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge info">
                            <i class="fa fa-envelope-o"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Propuesta enviada</h4>
                                <p>
                                    <small class="text-muted"><i class="fa fa-check"></i> No hay propuestas pendientes</small>
                                </p>
                            </div>
                            <div class="timeline-body">
                                <p>

                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge success">
                            <i class="fa fa-check-circle"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Contratados</h4>
                                <p>
                                    <small class="text-muted"><i class="fa fa-check"></i> 2 en Total</small>
                                </p>                                
                            </div>
                            <div class="timeline-body">
                                <p>
                                    1 Desarrollador <br />
                                    1 Analista
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-4">

        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-area-chart fa-fw"></i> Mis brechas en Inglés
                       
            </div>
            <div class="panel-body">
                <div id="morris-english-chart"></div>
                <a href="#" class="btn btn-default btn-block">@UIHelpers.GetGlobalizedText("viewDetails")</a>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->

        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-area-chart fa-fw"></i> Mis brechas en .Net
                       
            </div>
            <div class="panel-body">
                <div id="morris-net-chart"></div>
                <a href="#" class="btn btn-default btn-block">@UIHelpers.GetGlobalizedText("viewDetails")</a>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
        
    </div>
    <!-- /.col-lg-4 -->
</div>
<!-- /.row -->

@section scripts{

    <!-- Morris Charts JavaScript -->
    <script src="@Url.Content("~/Static/vendor/raphael/raphael.min.js")" ></script>
    <script src="@Url.Content("~/Static/vendor/morrisjs/morris.min.js")" ></script>
    <script src="@Url.Content("~/Static/data/morris-data.js")"> </script>

    <script>

        var controllerName = "CompanyUI";

        function processLogout() {

            console.log("loggin out");

            showLoading();
            ajaxGet(controllerName, "Logout", { }, function (success, data) {

                hideLoading();
                if (success) {

                    if (data) {
                        location.href = "/" + siteUrlPrefix + "/CompanyUI/Login";
                    } else {
                        console.log("not found");
                    }

                } else {
                    if (data.status == 404) {
                        console.log("not found");
                    } else {
                        if (data.status == 200) {
                            console.log("not found");
                        } else {
                            console.log(data);
                        }

                    }
                }
            });
        }

        function loadGaps() {
            new Morris.Area({
                // ID of the element in which to draw the chart.
                element: 'morris-english-chart',
                data: [{
                    period: '2011',
                    esperado: 20,
                    real: 12
                }, {
                    period: '2012',
                    esperado: 30,
                    real: 25
                }, {
                    period: '2012',
                    esperado: 30,
                    real: 25
                }, {
                    period: '2013',
                    esperado: 50,
                    real: 30
                }, {
                    period: '2014',
                    esperado: 70,
                    real: 60
                }, {
                    period: '2015',
                    esperado: 80,
                    real: 90
                }],
                xkey: 'period',
                ykeys: ['esperado', 'real'],
                labels: ['esperado', 'real'],
                pointSize: 1,
                hideHover: 'auto',
                resize: true
            });

            new Morris.Area({
                // ID of the element in which to draw the chart.
                element: 'morris-net-chart',
                data: [{
                    period: '2012',
                    esperado: 40,
                    real: 20
                }, {
                    period: '2014',
                    esperado: 45,
                    real: 25
                }, {
                    period: '2014',
                    esperado: 50,
                    real: 25
                }, {
                    period: '2015',
                    esperado: 50,
                    real: 30
                }, {
                    period: '2016',
                    esperado: 70,
                    real: 60
                }, {
                    period: '2017',
                    esperado: 30,
                    real: 100
                }],
                xkey: 'period',
                ykeys: ['esperado', 'real'],
                labels: ['esperado', 'real'],
                pointSize: 1,
                hideHover: 'auto',
                resize: true
            });
        }

        $(document).ready(function () {

            loadGaps();

            $("#btnlogout").on("click", function () {
                processLogout();
            });

        });
    </script>
}
