@using LaboruTKM.Web.Common

@{
    Layout = "~/Views/Shared/_CompanyLayout.cshtml";
}

@section css{

    <!-- DataTables CSS -->
    <link href="@Url.Content("~/Static/vendor/datatables-plugins/dataTables.bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Static/vendor/datatables-responsive/dataTables.responsive.css")" rel="stylesheet">
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Capacidades clave</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">

        <div class="panel panel-default">
            <div class="panel-heading engagement">

                <div class="row">
                    <div class="col-md-6">
                        Capacidades clave
                    </div>

                </div>

            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <table class="table table-hover" id="skills-table">
                    <thead>
                        <tr>
                            <th>@UIHelpers.GetGlobalizedText("name")</th>
                            <th>Nivel esperado</th>
                            <th>Nivel actual</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="#">Inglés</a></td>
                            <td>B2</td>
                            <td>A2</td>
                        </tr>
                        <tr>
                            <td><a href="#">.Net</a></td>
                            <td>Medio</td>
                            <td>Junior</td>
                        </tr>
                        <tr>
                            <td><a href="#">Java</a></td>
                            <td>Medio</td>
                            <td>Medio</td>
                        </tr>
                    </tbody>
                </table>
                <!-- /.table-responsive -->
            </div>
        </div>

    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

@section scripts{

    <!-- Lang -->
    <script src="@Url.Content("~/Static/js/lang.js")"></script>

    <!-- Moments -->
    <script src="@Url.Content("~/Static/js/moment-locales.min.js")"></script>

    <!-- jQuery DataTables -->
    <script src="@Url.Content("~/Static/vendor/datatables/js/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/Static/vendor/datatables-plugins/dataTables.bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Static/vendor/datatables-responsive/dataTables.responsive.js")"></script>

    <script>

        function init() {

            
        }

        $(document).ready(function () {

            init();

        });

    </script>

}