@using LaboruTKM.Web.Common

@{
    Layout = "~/Views/Shared/_CompanyLayout.cshtml";
}

@section css{

    <!-- DataTables CSS -->
    <link href="@Url.Content("~/Static/vendor/datatables-plugins/dataTables.bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Static/vendor/datatables-responsive/dataTables.responsive.css")" rel="stylesheet">
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">@UIHelpers.GetCompanyGlobalizedText("recruitment")</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">

        <div class="panel panel-default">
            <div class="panel-heading">

                <div class="row">
                    <div class="col-md-6">
                        @UIHelpers.GetCompanyGlobalizedText("applicants")
                    </div>
                    <div class="col-md-6 text-right">
                        <a class="btn btn-primary" href="@Url.Content("~/CompanyUI/AddApplicant")">@UIHelpers.GetCompanyGlobalizedText("addApplicant")</a>
                    </div>
                </div>

            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <table class="table table-hover" id="candidates-table">
                    <thead>
                        <tr>
                            <th>@UIHelpers.GetGlobalizedText("name")</th>
                            <th>Cargo al que aspira</th>
                            <th>Estado</th>
                            <th>Última actualización</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="@Url.Content("~/CompanyUI/Candidate")">Andrea Herrera</a></td>
                            <td>Analista</td>
                            <td>Creado como candidato
                                <div class="progress">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="10"
                                        aria-valuemin="0" aria-valuemax="100" style="width: 10%">
                                        10%
                                    </div>
                                </div>
                            </td>
                            <td>Abril 30 2017</td>
                        </tr>
                        <tr>
                            <td><a href="#">Felipe Gómez</a></td>
                            <td>Desarrollador Junior .Net</td>
                            <td>Invitación a proceso enviada
                                <div class="progress">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="20"
                                        aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                        20%
                                    </div>
                                </div>
                            </td>
                            <td>Abril 29 2017</td>
                        </tr>
                        <tr>
                            <td><a href="#">Camila Restrepo</a></td>
                            <td>Analista</td>
                            <td>Evaluación finalizada
                                <div class="progress">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="70"
                                        aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                        70%
                                    </div>
                                </div>
                            </td>
                            <td>Abril 29 2017</td>
                        </tr>
                        <tr>
                            <td><a href="#">Lorena Giraldo</a></td>
                            <td>Desarrollador</td>
                            <td>Creado como candidato
                                <div class="progress">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="10"
                                        aria-valuemin="0" aria-valuemax="100" style="width: 10%">
                                        10%
                                    </div>
                                </div>
                            </td>
                            <td>Abril 25 2017</td>
                        </tr>
                    </tbody>
                </table>
                <!-- /.table-responsive -->
            </div>
        </div>

       @Html.Partial("LaboruXPers");

    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

@section scripts{

    <!-- Lang -->
    <script src="@Url.Content("~/Static/js/lang.js")"></script>

    <!-- Moments -->
    <script src="@Url.Content("~/Static/js/moment-locales.min.js")"></script>

    <!-- jQuery DataTables -->
    <script src="@Url.Content("~/Static/vendor/datatables/js/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/Static/vendor/datatables-plugins/dataTables.bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Static/vendor/datatables-responsive/dataTables.responsive.js")"></script>

    <script>

        function getPeople() {
            getAndsetTableData("PersonUI", "GetPeople", {}, "@Url.Content("~/CompanyUI/Person")", ['Name', 'Title', 'DateCreated'], 'PersonId', 'laboru-table');
        }

        function init() {

            $("#candidates-table").DataTable({
                "language": lang[getLanguage()].datatables
            });

            getPeople();
        }

        $(document).ready(function () {

            init();

        });

    </script>

}
