@using LaboruTKM.Web.Common

@{
    Layout = "~/Views/Shared/_CompanyLayout.cshtml";
}

@section css{

    <!-- DataTables CSS -->
    <link href="@Url.Content("~/Static/vendor/datatables-plugins/dataTables.bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Static/vendor/datatables-responsive/dataTables.responsive.css")" rel="stylesheet">
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">@UIHelpers.GetCompanyGlobalizedText("recruitment")</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">

        <div class="panel panel-default">
            <div class="panel-heading">

                <div class="row">
                    <div class="col-md-6">
                        Mis Candidatos
                    </div>

                </div>

            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <table class="table table-hover" id="candidates-table">
                    <thead>
                        <tr>
                            <th>@UIHelpers.GetGlobalizedText("name")</th>
                            <th>Rol</th>
                            <th>Estado</th>
                            <th>Última actualización</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="@Url.Content("~/CompanyUI/Candidate")">Andrea Herrera</a></td>
                            <td>Analista</td>
                            <td>Creado como candidato
                                <div class="progress">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="10"
                                        aria-valuemin="0" aria-valuemax="100" style="width: 10%">
                                        10%
                                    </div>
                                </div>
                            </td>
                            <td>Abril 30 2017</td>
                        </tr>
                        <tr>
                            <td><a href="#">Felipe Gómez</a></td>
                            <td>Desarrollador</td>
                            <td>
                                Invitación a proceso enviada
                                <div class="progress">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="20"
                                        aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                        20%
                                    </div>
                                </div>
                            </td>
                            <td>Abril 29 2017</td>
                        </tr>
                        <tr>
                            <td><a href="#">Camila Restrepo</a></td>
                            <td>Analista</td>
                            <td>
                                Evaluación finalizada
                                <div class="progress">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="70"
                                        aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                        70%
                                    </div>
                                </div>
                            </td>
                            <td>Abril 29 2017</td>
                        </tr>
                        <tr>
                            <td><a href="#">Lorena Giraldo</a></td>
                            <td>Desarrollador</td>
                            <td>Creado como candidato
                                <div class="progress">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="10"
                                        aria-valuemin="0" aria-valuemax="100" style="width: 10%">
                                        10%
                                    </div>
                                </div>
                            </td>
                            <td>Abril 25 2017</td>
                        </tr>
                    </tbody>
                </table>
                <!-- /.table-responsive -->
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">

                <div class="row">
                    <div class="col-md-6">
                        Buscar candidatos (xPers) en Laboru 
                    </div>
                </div>

            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">

                <div class="row">
                    <div class="col-md-6">

                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="@UIHelpers.GetGlobalizedText("search")...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->

                    </div>

                </div>

                <div class="row">
                    <div class="col-md-6" style="margin-top: 10px; margin-bottom: 10px;">
                        Algunos de nuestros candidatos
                    </div>
                </div>

                <div class="row">

                    <table class="table table-hover" id="laboru-table">
                        <thead>
                            <tr>
                                <th>@UIHelpers.GetGlobalizedText("name")</th>
                                <th>Rol</th>
                                <th>Miembro desde</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="@Url.Content("~/CompanyUI/Person")">Juana Gil</a></td>
                                <td>Analista Experta en Mercadeo</td>
                                <td>Abril 30 2017</td>
                            </tr>
                            <tr>
                                <td><a href="#">Susana Gómez</a></td>
                                <td>Desarrollador Senior Java</td>
                                <td>Abril 29 2017</td>
                            </tr>
                            <tr>
                                <td><a href="#">Johana Amariles</a></td>
                                <td>Analista financiera</td>
                                <td>Abril 29 2017</td>
                            </tr>
                            <tr>
                                <td><a href="#">Carlos Giraldo</a></td>
                                <td>Desarrollador Android</td>
                                <td>Abril 25 2017</td>
                            </tr>
                        </tbody>
                    </table>
                </div>



            </div>
        </div>

    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

@section scripts{

    <!-- Lang -->
    <script src="@Url.Content("~/Static/js/lang.js")"></script>

    <!-- Moments -->
    <script src="@Url.Content("~/Static/js/moment-locales.min.js")"></script>

    <!-- jQuery DataTables -->
    <script src="@Url.Content("~/Static/vendor/datatables/js/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/Static/vendor/datatables-plugins/dataTables.bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Static/vendor/datatables-responsive/dataTables.responsive.js")"></script>

    <script>

        var controllerName = "api/Evaluation";

        var rowTemplate = '<tr >' +
                                '<td>_id</td>' +
                                '<td>_name</td>' +
                                '<td>_description</td>' +
                                '<td class="center">_date_created</td>' +
                                '</tr>';

        function getHtmlEvalElement(obj) {

            var date = moment(obj.DateCreated);
            var now = moment();

            return rowTemplate.replace("_id", obj.Id)
                .replace("_name", obj.Name)
                .replace("_description", obj.Description)
                .replace("_date_created", getDateDiff(obj.DateCreated));
        }

        function getAllEvaluations() {

            showLoading();
            ajaxGet(controllerName, {}, function (success, data) {

                hideLoading();
                if (success) {

                    if (data && data.length > 0) {

                        for (var i = 0; i < data.length; i++) {

                            var obj = data[i];
                            var htmlElement = getHtmlEvalElement(obj);

                            $("#evals-table tbody").append(htmlElement);
                        }

                        if (lang[getLanguage().toString()] != null) {
                            $("#evals-table").DataTable({
                                "language": lang[getLanguage().toString()].datatables
                            });
                        } else {
                            $("#evals-table").DataTable();
                        }


                    } else {
                        console.log("no elements in table");
                    }

                } else {

                    console.log("error");
                    console.log(data);
                }

            });
        }

        function init() {

            console.log(getLanguage());

            $("#candidates-table").DataTable({
                "language": lang[getLanguage()].datatables
            });

            //getAllEvaluations();
            //getLanguage();
        }

        $(document).ready(function () {

            init();

        });

    </script>

}
