@using LaboruTKM.Web.Common

@{
    Layout = "~/Views/Shared/_CompanyLayout.cshtml";
}

@section css{

    <!-- DataTables CSS -->
    <link href="@Url.Content("~/Static/vendor/datatables-plugins/dataTables.bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Static/vendor/datatables-responsive/dataTables.responsive.css")" rel="stylesheet">
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">@UIHelpers.GetCompanyGlobalizedText("recruitment")</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">

        <h3>XPers en nuestra red Laboru:</h3>

        <p>
            Utiliza los filtros avanzados para encontrar justo lo que necesitas.
        </p>


        <div class="panel">
            <div class="panel-body">

                <div class="row">

                    <div class="col-xs-3" style="margin-bottom: 10px;">
                        Años de experiencia
                    </div>

                    <div class="col-xs-3">
                        <input type="text" placeholder="" />
                    </div>

                </div>

                <div class="row">

                    <div class="col-xs-3" style="margin-bottom: 10px;">
                        Conocimientos específicos
                    </div>

                    <div class="col-xs-3">
                        <input type="text" placeholder="" />
                    </div>

                </div>

            </div>
            <div class="panel-footer">
                <input type="button" class="btn btn-primary" value="Buscar" />
            </div>
        </div>



        @Html.Partial("LaboruXPers");

    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

@section scripts{

    <!-- Lang -->
    <script src="@Url.Content("~/Static/js/lang.js")"></script>

    <!-- Moments -->
    <script src="@Url.Content("~/Static/js/moment-locales.min.js")"></script>

    <!-- jQuery DataTables -->
    <script src="@Url.Content("~/Static/vendor/datatables/js/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/Static/vendor/datatables-plugins/dataTables.bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Static/vendor/datatables-responsive/dataTables.responsive.js")"></script>

    <script>

        function getPeople() {
            getAndsetTableData("PersonUI", "GetVisibleToCompany", {}, "@Url.Content("~/CompanyUI/Person")", ['Name', 'Title', 'TotalRecommendations', 'DateCreated'], 'PersonId', 'laboru-table');
        }

        function init() {

            getPeople();
        }

        $(document).ready(function () {

            init();

        });

    </script>

}
